.image {
    height: 180px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 600px;
    flex-direction: column;
}

.header {
    background-image: url('../../Images/koreamerica.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 65%;
    display: flex;
    align-items: center;
    padding: 250px 0 100px 0;
    text-align: center;
}

.title {
    margin-bottom: 2%;
    text-align: center;
    font-size: 2rem;
}

.pTxt {
    text-align: center;
    font-size: 1.125rem;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.email {
    text-align: center;
    font-size: 25px;
}

.emailTxt {
    text-shadow: 2px 2px 8px #5993E5;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 40px;
}

hr {
    border: 0;
    height: 1px;
    margin-top: 100px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.skill-icons {
    font-size: .5rem;
    display: flex;
    height: 100%;
    align-items: center;
}

.skill-icons ul {
    list-style: none;
    margin: 0;
    padding: 0 5px;
    display: flex;
    margin: auto;
}

.skill-icons li {
    vertical-align: top;
    display: inline;
    flex-direction: column;
}

.fab.skill {
    padding: 20px;
    font-size: 50px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 0 2px;
}

.fas.skill {
    padding: 20px;
    font-size: 50px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 0 2px;
}

.fa-html5 {
    color: red;
}

.fa-css3 {
    color: blue;
}

.fa-js {
    color: gold;
}

.fa-react {
    color: skyblue;
}

.fa-node-js {
    color: orangered;
}

.fa-npm {
    color: purple;
}

.fa-database {
    color: orange;
}

.fa-server {
    color: limegreen;
}

.contact {
    text-align: center;
}


.myButton {
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	padding:25px 58px;
	text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background-color:#eb675e;
}
.myButton:active,
.myButton:focus {
	position: relative;
    top: 1px;
    outline: none;
}

.myButton a {
    color: #fff;
    text-decoration: none;
}
    